	body {
		background-color: #b3f0ff;
		}
	a:link {
		color:black;
		background-color:transparent;
		text-decoration:none;
		font-family: 'Titillium Web', Arial;
		font-size: 200%;
		}

	a:hover {
		color:black;
		background-color: #fffacd;
		text-decoration:underline;
		}
	a:visited {
		color:black;
		}