	body {
		background-color: #b3f0ff;
		}
	a:link {
		color:black;
		background-color:transparent;
		text-decoration:none;
		font-family: 'Titillium Web', Arial;
		font-size: 200%;
		}

	a:hover {
		color:black;
		background-color: #fffacd;
		text-decoration:underline;
		}
	a:visited {
		color:black;
		}

	.albumpic {
		background-image:url("http://img2-ak.lst.fm/i/u/174s/d8f1ff8487c84a34830d5a4963f026bd.jpg");
		background-repeat:no-repeat;
		background-position:center top;
		background-size:400px 400px;
		}