	
	a:link {
		text-decoration: none;
		font-weight: bold;
		font-family: sans-serif;
		}
	
	.header {
		background-color: 53c68c;
		font-family: 'Fjalla One', calibri, sans-serif;
		}

	.footer {
		background-color: 79d2a6;
		font-family: sans-serif;
		}

	.main {
		background-color: c6e6d9;
		font-family: cursive;
		}

	/* Known issues: 
The webpage needs to be reloaded rarely when the external style sheet doesn't load for some reason. Reloading fixes it each time. 
Further, hosted fonts do not work with firefox and external stylesheets will not load with IExplorer */