	a:hover {
		text-decoration: none;
		}

	.albumpic {
		background-image: url("http://img2-ak.lst.fm/i/u/174s/d8f1ff8487c84a34830d5a4963f026bd.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 400px 400px;
		}