	
	a:link {
		text-decoration: none;
		font-weight: bold;
		link-color: white;
		}
	
	.header {
		background-color: 53c68c;
		font-family: sans-serif;
		}

	.footer {
		background-color: 79d2a6;
		font-family: sans-serif;
		}

	.main {
		background-color: c6e6d9;
		font-family: cursive;
		}

	/* The contactus page needs to be reloaded rarely when the external style sheet doesn't load for some reason. Reloading fixes it each time */